<div class="comments-container">
  <h2><%= Comment.model_name.human %></h2>
  <% if @comments.any? %>
    <ul class="comments-index">
      <% @comments.each do |comment| %>
        <li>
          <p><%= comment.content %></p>
          <small><%= l comment.created_at %></small>
          <% if current_user.id == comment.user_id  %>
            <nav class="comment-links"><%= link_to t('views.common.edit', name: Comment.model_name.human), edit_polymorphic_path([commentable, comment]) %> | <%= link_to t('views.common.destroy', name: Comment.model_name.human), polymorphic_path([commentable, comment]), data: { turbo_method: :delete, turbo_confirm: t('views.common.delete_confirm') } %></nav>
          <% end %>
        </li>
    <% end %>
    </ul>    
    <% else %>
      <p><%= t('comments.no_comments') %></p>
  <% end %>
</div>
