<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('defaults.btn_edit'), edit_book_path(@book) %> |
  <%= link_to t('defaults.btn_index'), books_path %>
  <%= button_to t('defaults.btn_delete'), @book, method: :delete %>
</nav>
