<h1><%= t('views.common.title_index', name: i18n_pluralize(Report.model_name.human)) %></h1>

<div id="reports" class="index-items">
  <% if @reports.any? %>
    <% @reports.each do |report| %>
      <div class="index-item">
        <%= render report %>
        <%= link_to t('views.common.show', name: Report.model_name.human.downcase), report %>
      </div>
    <% end %>
  <% else %>
    <p><%= t('reports.no_reports') %></p>
  <% end %>
</div>

<nav class="page-nav">
    <%= link_to t('views.common.new', name: Report.model_name.human.downcase), new_report_path %>
</nav>
