<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p>User: <%= current_user.email %></p>
      <%= link_to 'profile', user_path(current_user) %>
      <%= link_to 'All users', users_path %>
      <%= link_to t('.signed_out'), destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
